{% extends 'base.html' %}
{% block content %}

    <div class="edit-delete">
        <h2>Edit Profile</h2>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}

                <p class="error"> {{ field.errors }} </p>
                <div class="label-input">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                <br>

            {% endfor %}

            <button class="edit-btn" type="submit">Edit</button>

        </form>
    </div>

{% endblock %}
